<!DOCTYPE html>
<html>
  <head>
    <title>Crypto Wallet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <i class="material-icons">payments</i>
      <p class="title">
        Crypto Wallet
      </p>
    </nav>
    <div class="application-container">
      <%= yield %>
    </div>
  </body>
</html>
