<div id="show_coin_container">
    <h1>Editing <%= @coin.description %></h1>

    <%= render "coin_info" %>

    <%= render 'form', coin: @coin %>

    <div>
        <%= link_to 'Show', @coin %> |
        <%= link_to 'Back', coins_path %>
    </div>
</div>