<div id="show_coin_container">
  <p id="notice"><%= notice %></p>
  <%= render "coin_info" %>
  <p>
    <strong>Descrição:</strong>
    <%= @coin.description %>
  </p>

  <p>
    <strong>Sigla:</strong>
    <%= @coin.acronym %>
  </p>
  <%= link_to 'Editar', edit_coin_path(@coin) %>
  <%= link_to 'Voltar', coins_path %>
</div>